@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

:root
{
  --main_orange_color:#F26627;
  --faded_orange_color:#F9A26C;
  --main_white_color:#EFEEEE;
  --light_blue_color:#9BD7D1;
  --deep_blue_color:#325D79;
  
}
*
  {
    box-sizing: border-box;
    font-family: 'Rakkas', cursive;

  }
body
{
  margin:0;
  padding:0;
  background-color:var(--main_white_color);
}
  a
  {
    text-decoration:none;
    color: var(--deep_blue_color);
  }


  /* form styles */

  form
    {
      padding:30px;  
      box-sizing: border-box;
      width:90%;
    }
    label , h1 , h4
    {
      color: var( --main_orange_color);
      font-weight:bold;
      display:block;
      text-align:center;
      margin : 5px auto ;
      margin-top:0px;
      
    }
    input, select {
      
      background-color:#DFE6E9;
      padding:10px;
      border: none;
      width:100%;
      margin: 5px auto ;
      text-align:center;

    }
    input:focus, select:focus
    {
      outline: none;
    }
    input[type=submit] , .form_btn
    {
      padding:15px;
      background-color: #294b93;
      color:white;
      font-weight:bold;
      border:none;
      border-radius:2px;
      box-shadow:none;
      display:block;
      width:100%;
      margin:10px auto ;
      margin-bottom: 0px;
      font-family: 'Rakkas', cursive;
        transition: cubic-bezier(0.17, 0.67, 0.83, 0.67) 200ms all ease;
        position: relative;

    }
    .form_btn:before
    {
      content: "\f0fe";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    overflow:hidden;
    font-size:110px;
    position:absolute;
    top:-20px;
    left:0;
    opacity:5%;
    transform:rotate(45deg);
    }
    input[type=submit]:hover , .form_btn:hover
    {
      background: var( --main_orange_color);
      cursor: pointer;
    }

    /* list styles */

    .list_container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
      justify-content: center;
      align-items: center;
      margin: 0px;
      padding: 10px;
      transition: cubic-bezier(0.17, 0.67, 0.83, 0.67) 200ms all ease;
    }
    .list {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: center;
      align-items: center;
      list-style: none;
      text-align: center;
      background-color: #e4eaed;
      padding: 10px;
      color: #294b93 !important;
      margin: 5px;
      border-radius: 5px;
      transition: cubic-bezier(0.17, 0.67, 0.83, 0.67) 200ms all;
    }
    .list div:nth-child(2) {
      color: red;
    }
    .list:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .list_item:hover {
      background-color: var(--deep_blue_color);
      color: white !important;
      cursor: pointer;
    }
    .list_item {
      background: rgba(255, 255, 255, 0.4);
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      flex: 1;
    }